.checkout-form {
    max-width: 600px; /* הרחבת הרוחב */
    margin: 20px auto; /* הוספת מרווח עליון */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left; /* יישור שמאלי */
}

.checkout-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: block; /* שינוי לתצוגה של בלוק */
    width: 100%; /* הגדרת רוחב מלא */
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left; /* יישור שמאלי */
}

.form-group input {
    width: calc(100% - 20px); /* התאמת רוחב האלמנטים */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px; /* מרווח תחתון */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.submit-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: calc(100% - 20px); /* התאמת רוחב הכפתור */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.submit-button:hover {
    background-color: #218838;
}

