{% extends 'base.html' %}

{% block title %}About - The Bread Factory{% endblock %}

{% block content %}
<div class="about-content">
    <h3>About Us</h3>
    <p>We, Noa and Shiri, out of our love for baking and quality food, decided to establish our bakery in the north of Israel.</p>
    <p>Our bakery is based on principles of quality, freshness, and cleanliness. Every pastry comes out of the oven after receiving meticulous and special attention, with the goal of providing you with a unique taste experience. We use the best ingredients and adhere to precise working processes to ensure that every pastry is perfect.</p>
    <p>We invite you to visit us in the north, to see our pastries and enjoy the stunning landscapes. We will be happy to host you with a big smile and a fresh pastry.</p>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/about-image.jpg') }}" alt="About Us Image">
    </div>
</div>
{% endblock %}