{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="contact">
    <h2>Contact Us</h2>
    <p>We'd love to hear from you! Please use the information below to get in touch with us.</p>
    <p class="address">
        <strong>Shinoa Bakery</strong><br>
        123 Bakery Lane, Sweet City, 45678<br>
        Office Phone Number: (123) 456-7890<br>
        Fax Number: (123) 456-7891<br>
        Email: shinoa@gmail.com<br>
        Hotline: 1800-BAKERY
    </p>
    </div>
</div>
{% endblock %}
