{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="contact">
    <p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p>
    <p class="address">Address : 101 Nam tincidunt eros vel odio adipiscing, 0101 <br>
    Office Phone Number : (101) 123-4567 <br>
    Fax Number : 1-074-328-598 <br>
    Email : info@companyname.com <br>
    You can call our hotline: 1800-wedding</p>
    <div class="connect">
        <span>Share Us</span>
        <a href="http://twitter.com/fwtemplates" id="content-twitter">twitter</a>
        <a href="http://facebook.com/freewebsitetemplates" id="content-facebook">facebook</a>
    </div>
</div>
{% endblock %}
