{% extends 'base.html' %}

{% block title %}The Bread Factory{% endblock %}

{% block content %}
<div>
    <ul>
        <li>
            <a href="{{ url_for('menu') }}"><img src="{{ url_for('static', filename='images/traditional.jpg') }}" alt=""></a>
            <a href="{{ url_for('menu') }}">Traditional</a>
        </li>
        <li>
            <a href="{{ url_for('menu') }}"><img src="{{ url_for('static', filename='images/collection.jpg') }}" alt=""></a>
            <a href="{{ url_for('menu') }}">Collection</a>
        </li>
        <li>
            <a href="{{ url_for('menu') }}"><img src="{{ url_for('static', filename='images/favorites.jpg') }}" alt=""></a>
            <a href="{{ url_for('menu') }}">Favorites</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ url_for('menu') }}"><img src="{{ url_for('static', filename='images/loafs.jpg') }}" alt=""></a>
            <a href="{{ url_for('menu') }}">Loafs</a>
        </li>
        <li>
            <a href="{{ url_for('menu') }}"><img src="{{ url_for('static', filename='images/sandwiches.jpg') }}" alt=""></a>
            <a href="{{ url_for('menu') }}">Sandwiches</a>
        </li>
        <li>
            <a href="{{ url_for('menu') }}"><img src="{{ url_for('static', filename='images/croissants.jpg') }}" alt=""></a>
            <a href="{{ url_for('menu') }}">Croissants</a>
        </li>
    </ul>
</div>
{% endblock %}
