{% extends 'base.html' %}

{% block title %}Menu - The Bread Factory{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated and current_user.role == 'admin' %}
    <script type="text/javascript">
        window.location.href = "{{ url_for('orders_management') }}";
    </script>
{% else %}
<div>
    <ul>
        {% for category in ['Bread', 'Sandwiches', 'Croissants'] %}
        <li>
            <a href="#"><img src="{{ url_for('static', filename='images/' + category.lower() + '.jpg') }}" alt=""></a>
            <a href="#">{{ category }}</a>
            <table>
                {% for dish in dishes if dish['category'] == category %}
                <tr class="menu-item">
                    <td class="item-name">{{ dish['name'] }}</td>
                    <td class="price">${{ '%.2f'|format(dish['price']) }}</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('{{ dish['name'] }}', {{ dish['price'] }})">+</button>
                        <button onclick="removeFromCart('{{ dish['name'] }}')">-</button>
                        {% if current_user.is_authenticated and current_user.role == 'manager' %}
                        <form action="{{ url_for('delete_dish') }}" method="POST" style="display:inline;">
                            <input type="hidden" name="name" value="{{ dish['name'] }}">
                            <button type="submit" class="delete-button"><i class="fa fa-trash"></i></button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
