{% extends 'base.html' %}

{% block title %}Menu - The Bread Factory{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
{% endblock %}

{% block content %}
<div>
    <ul>
        <li>
            <a href="#"><img src="{{ url_for('static', filename='images/traditional.jpg') }}" alt=""></a>
            <a href="#">Traditional</a>
            <table>
                <tr class="menu-item">
                    <td class="item-name">Dolor Sitau</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Dolor Sitau', 10.00)">+</button>
                        <button onclick="removeFromCart('Dolor Sitau')">-</button>
                    </td>
                </tr>
                <tr class="menu-item">
                    <td class="item-name">Amet Consecte</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Amet Consecte', 10.00)">+</button>
                        <button onclick="removeFromCart('Amet Consecte')">-</button>
                    </td>
                </tr>
                <tr class="menu-item">
                    <td class="item-name">Edipiscing Elit</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Edipiscing Elit', 10.00)">+</button>
                        <button onclick="removeFromCart('Edipiscing Elit')">-</button>
                    </td>
                </tr>
            </table>
        </li>
        <li>
            <a href="#"><img src="{{ url_for('static', filename='images/collection.jpg') }}" alt=""></a>
            <a href="#">Collection</a>
            <table>
                <tr class="menu-item">
                    <td class="item-name">Morbi Augue</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Morbi Augue', 10.00)">+</button>
                        <button onclick="removeFromCart('Morbi Augue')">-</button>
                    </td>
                </tr>
                <tr class="menu-item">
                    <td class="item-name">Vitae Tincidunt</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Vitae Tincidunt', 10.00)">+</button>
                        <button onclick="removeFromCart('Vitae Tincidunt')">-</button>
                    </td>
                </tr>
                <tr class="menu-item">
                    <td class="item-name">Integer Congue</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Integer Congue', 10.00)">+</button>
                        <button onclick="removeFromCart('Integer Congue')">-</button>
                    </td>
                </tr>
            </table>
        </li>
        <li>
            <a href="#"><img src="{{ url_for('static', filename='images/favorites.jpg') }}" alt=""></a>
            <a href="#">Favorites</a>
            <table>
                <tr class="menu-item">
                    <td class="item-name">Quam laculis</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Quam laculis', 10.00)">+</button>
                        <button onclick="removeFromCart('Quam laculis')">-</button>
                    </td>
                </tr>
                <tr class="menu-item">
                    <td class="item-name">Accumsan laculis</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Accumsan laculis', 10.00)">+</button>
                        <button onclick="removeFromCart('Accumsan laculis')">-</button>
                    </td>
                </tr>
                <tr class="menu-item">
                    <td class="item-name">Quisque Tempus</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Quisque Tempus', 10.00)">+</button>
                        <button onclick="removeFromCart('Quisque Tempus')">-</button>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#"><img src="{{ url_for('static', filename='images/loafs.jpg') }}" alt=""></a>
            <a href="#">Loafs</a>
            <table>
                <tr class="menu-item">
                    <td class="item-name">Integer Raisins</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Integer Raisins', 10.00)">+</button>
                        <button onclick="removeFromCart('Integer Raisins')">-</button>
                    </td>
                </tr>
                <tr class="menu-item">
                    <td class="item-name">Nulla Placerat</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Nulla Placerat', 10.00)">+</button>
                        <button onclick="removeFromCart('Nulla Placerat')">-</button>
                    </td>
                </tr>
                <tr class="menu-item">
                    <td class="item-name">Ultrices Luctus</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Ultrices Luctus', 10.00)">+</button>
                        <button onclick="removeFromCart('Ultrices Luctus')">-</button>
                    </td>
                </tr>
            </table>
        </li>
        <li>
            <a href="#"><img src="{{ url_for('static', filename='images/sandwiches.jpg') }}" alt=""></a>
            <a href="#">Sandwiches</a>
            <table>
                <tr class="menu-item">
                    <td class="item-name">New Yorker</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('New Yorker', 10.00)">+</button>
                        <button onclick="removeFromCart('New Yorker')">-</button>
                    </td>
                </tr>
                <tr class="menu-item">
                    <td class="item-name">Monte Cristo</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Monte Cristo', 10.00)">+</button>
                        <button onclick="removeFromCart('Monte Cristo')">-</button>
                    </td>
                </tr>
                <tr class="menu-item">
                    <td class="item-name">Ceasar Bun</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Ceasar Bun', 10.00)">+</button>
                        <button onclick="removeFromCart('Ceasar Bun')">-</button>
                    </td>
                </tr>
            </table>
        </li>
        <li>
            <a href="#"><img src="{{ url_for('static', filename='images/croissants.jpg') }}" alt=""></a>
            <a href="#">Croissants</a>
            <table>
                <tr class="menu-item">
                    <td class="item-name">Pellentesque</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Pellentesque', 10.00)">+</button>
                        <button onclick="removeFromCart('Pellentesque')">-</button>
                    </td>
                </tr>
                <tr class="menu-item">
                    <td class="item-name">Quis Egestas</td>
                    <td class="price">$ 10.00</td>
                    <td class="cart-buttons">
                        <button onclick="addToCart('Quis Egestas', 10.00)">+</button>
                        <button onclick="removeFromCart('Quis Egestas')">-</button>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>
{% endblock %}
