{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Register</h2>
    <form method="post" action="{{ url_for('register') }}">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="role">Role:</label><br>
        <select id="role" name="role">
            <option value="customer">Customer</option>
            <option value="admin">Admin</option>
            <option value="manager">Manager</option>
        </select><br><br>
        <input type="submit" value="Register">
    </form>
{% endblock %}
