{% extends 'base.html' %}

{% block title %}Review{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
{% endblock %}

{% block content %}
    <h2>Reviews</h2>

    {% if current_user.is_authenticated and current_user.role != 'manager' %}
    <div class="review-form">
        <form method="post" action="{{ url_for('review') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="review">Review:</label>
                <textarea name="review" id="review" required></textarea>
            </div>
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" name="image" id="image">
            </div>
            <div class="form-group">
                <button type="submit" class="submit-button">Submit Review</button>
            </div>
        </form>
    </div>
    {% endif %}

    <ul class="reviews-list">
        {% for review in reviews %}
        <li class="review-item">
            <p><strong>{{ review.username }}</strong>: {{ review.text }}</p>
            {% if review.image_url %}
                <img src="{{ url_for('static', filename='uploads/' ~ review.image_url) }}" class="{% if current_user.role == 'manager' %}manager-view{% else %}fixed-size{% endif %}" alt="Review Image">
            {% endif %}
        </li>a
        {% endfor %}
    </ul>
{% endblock %}
